@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

body {
  font-family: 'Lato', sans-serif;
  background-color: #3498db;

}

* {
  margin: 0;
  padding: 0;
}

.randomBgColor {
  transition: background-color 1s ease;

}

.randomTxtColor {
  transition: color 1s ease;
}

#quote-box {
  width: 400px;
  min-height: 200px;
  height: auto;
  margin: 10% auto 0 auto;
  background-color: white;
  padding: 10px;
  border-radius: 5%;
}

#text {
  padding: 25px;

}

.fa-quote-left {
  font-size: 55px;
  padding-right: 15px;
  display: inline-block;
  width: auto;
}

#quoteText {
  font-size: 25px;
  text-align: center;
  width: 70%;

}

#author {
  font-size: 16px;
  text-align: right;
  display: block;
  width: 100%;
}

#buttonBox {
  height: 50px;
  padding: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}

.fa-twitter {
  font-size: 40px;
  padding: 5px 5px 0 5px;
  color: white;

}

#new-quote {
  padding: 0 10px;
  cursor: pointer;
  color: white;
  font-weight: bold;

}

#new-quote:hover {
  opacity: 0.5;
}

.fa-twitter,
#new-quote {
  border-radius: 20%;
  border: none;
}

#credit {
  display: block;
  margin: 0 auto;
  width: 150px;
  height: 15px;
  color: white;
}

#credit a,
#credit a:hover {
  color: inherit;
  text-decoration: none;
}
